{% extends "base.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h2 class="text-center mb-4">Crear cuenta</h2>
      <form method="POST">
        <div class="mb-3">
          <label>Nombre de usuario</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label>Contraseña</label>
          <input type="password" name="password" class="form-control" required>
          <small class="text-muted">
            La contraseña debe tener mínimo 8 caracteres, al menos una mayúscula, una minúscula y un número.
          </small>
        </div>        
        <div class="mb-3">
          <label>Confirmar contraseña</label>
          <input type="password" name="confirm_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Registrarse</button>
      </form>
      <div class="mt-3 text-center">
        <a href="{{ url_for('auth.login') }}" style="color: green;" >¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
